<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to bookstore.com, <%= @user.name %>!</h1>
    <p>
      You have successfully signed up to bookstore.com,
    </p>
    </br>
    <p>
      you can login here: <%= @url %>.
    </p>
  </body>
</html>